.landing {
    order: 2;
    display: flex;
    flex-direction: column;
}
.landing__cta {
    border-radius: 0.2em;
    width: max-content;
    font-size: 1em;
    font-weight: 800;
    padding: 0.8em;
    background-color: #f3f3f3;
    color: rgb(0, 163, 160);
}

.landing__cta:hover {
    background-color: hsl(36, 100%, 63%);
}

.landing__title {
    padding: 2em 0;
}

.landing__name {
    font-size: 2.7em;
    text-transform: uppercase;
    color: #f3f3f3;
}

.landing__subheading {
    font-size: 1.2em;
    padding-top: 0.2em;
    width: 80%;
    max-width: 400px;
    text-transform: uppercase;
    color: #fff8e5;
}

.landing__downloads {
    display: flex;
    padding-top: 1em;
}
