.hourly__content {
    width: 40%;
    display: flex;
    margin-top: 2em;
    padding: 0.5em;
    border-bottom: 1px solid black;
}

.hourly__list {
}

.weather__weekday {
    opacity: 0.8;
    font-weight: 300;
}

.weather__temp {
}

.weather__tempdesc {
    opacity: 0.8;
    font-weight: 300;
}
