.landing {
    order: 2;
    display: flex;
    flex-direction: column;
}
.landing__cta {
    border: 1px solid #e05d5d;
    padding: 0.8em;
    border-radius: 0.2em;
    // margin-top: 2em;
    // margin-bottom: 0;
    // margin-left: 13.5em;
    // margin-right: 13.5em;
    width: max-content;
    background-color: hsla(0, 68%, 62%, 0.801);
    font-weight: 800;
    color: #fff8e5;
    font-size: 1em;
}

.landing__cta:hover {
    background-color: rgb(224, 92, 92);
}

.landing__title {
    width: max(350px, 40%);
    color: #fff8e5;
    font-size: 1em;
}

.landing__downloads {
    display: flex;
}

@media (max-width: 900px) {
    .landing__title {
        width: min(350px, 43%);
    }
}

@media (max-width: 700px) {
    .landing__title {
        width: min(350px, 30%);
    }
}
