.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    order: 1;
}

.navigation ul li a {
    text-transform: uppercase;
    color: #ffb344;
    font-weight: 800;
    font-size: 1em;
}

.navigation ul li a:hover {
    color: #fff8e5;
}

.navigation ul li + li {
    margin-left: 1em;
}
