.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    order: 1;
}

.navigation ul li a {
    color: #f3f3f3;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 400;
}

.navigation ul li a:hover {
    color: hsl(36, 100%, 63%);
}

.navigation ul li + li {
    margin-left: 1em;
}
