@import "today";
@import "daily";
@import "hourly";

.weather {
    order: 3;
}

.weather span {
    padding: 2em 2em;
    margin-top: 2em;
    display: block;
    background-color: hsl(44, 100%, 95%);
    border-radius: 2px;
}

.weather__location {
    font-weight: 800;
    color: #2b2b2b;
    font-size: 1.2em;
}

.weather__localtime {
    font-weight: 400;
    color: #2b2b2b;
    font-size: 1em;
    padding-bottom: 0.5em;
}

.weather__weekday {
    color: #2b2b2b;
    font-size: 1em;
    font-weight: 400;
}

.weather__temp {
    color: #e05d5d;
    font-weight: 800;
    font-size: 2em;
}

.weather__tempdesc {
    color: #2b2b2b;
    font-size: 1em;
    font-weight: 400;
}

.weather__tempcontent {
    display: flex;
    align-items: center;
    padding: 0;
    font-weight: 400;
}

.weather__hour {
    color: #2b2b2b;
    font-size: 1em;
    margin-right: 1em;
    font-weight: 400;
}
