@import "today";
@import "daily";
@import "hourly";

.weather {
    margin: 2em 13.5em;
    order: 3;
    overflow: auto;
}

.weather__location {
    font-weight: 400;
    color: hsl(44, 100%, 95%);
}

.weather__localtime {
    font-weight: 400;
    color: hsl(44, 100%, 95%);
}

.weather__weekday {
    font-weight: 300;
    color: hsl(44, 100%, 95%);
}

.weather__temp {
    color: hsl(44, 100%, 95%);
    font-weight: 800;
}

.weather__tempdesc {
    font-weight: 300;
    color: hsl(44, 100%, 95%);
}
